

<section class="vh-100" style="background-color: #eee; border-radius: 40px;">
	<div class="container h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-lg-12 col-xl-11">
				<div class="card text-black" style="border-radius: 25px;">
					<div class="card-body p-md-5">
						<div class="row justify-content-center">
							<div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

								<p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Add Item</p>

								<form class="mx-1 mx-md-4" action="InsertShoppingList" method="POST">

									<div class="form-outline mb-4">
										<label for="shoppinglistname" class="form-label">List Name</label>
										<input name="shoppinglistname" type="text" class="form-control register" id="shoppinglistname" placeholder="Food List">
									</div>

									<div class="form-outline mb-4">
										<label for="shoppinglistdescription" class="form-label">List Description</label>
										<input name="shoppinglistdescription" type="text" class="form-control register" id="shoppinglistdescription" placeholder="Description">
									</div>
								
									<button type="submit" class="btn btn-primary btn-lg btn-block">Save List</button>

								</form>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>